.contacts-container {
  background-color: white;
  width: min-content;
  height: 92vh;
}

.side-title {
  font-weight: bold;
  margin: 0.5rem;
}

.contacts-list {
  width: 25%;
  height: 92vh;
  background-color: white;
  padding: 0.25rem;
  min-width: 250px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.contacts-list::-webkit-scrollbar {
  /* display: none; Safari and Chrome */
  width: 0;
  height: 0;
}
